---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Aaron Sachs" description="About Aaron Sachs">
	<div class="stack gap-20">
		<div class="wrapper stack gap-8">
			<Hero title="About Me" />
		</div>
		<main class="wrapper content">
			<section>
				<h3>A Quick Intro</h3>
				<p>
					Hi there and thank you for stopping by! I'm Aaron. I'm an academic-turned-Linux geek who
					loves beer (not just consuming, but making beer), tinkering with all sorts of things, and
					am what you might call a "<a href="http://puttylike.com/terminology/">multipotentialite</a>".
				</p>
				<p>
					I've been a Linux dude for a while, and am currently at <a href="https://sensu.io">Sensu</a>,
					where I'm a Customer Reliability Engineer.
				</p>
			</section>
			<section>
				<h3>What this Blog is About</h3>
				<p>
					I'm mostly using the blog right now to document the things that I'm learning along the way
					in Customer Reliability, Linux stuff, and general tech. For the most part, it's one-liners,
					as well as the things I tinker with. There will be other topics that I cover, just stay tuned.
					If you're wanting to reach out, you can contact me via
					<a href="https://www.linkedin.com/in/asachs01">LinkedIn</a>.
				</p>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.content {
		max-width: 65ch;
		margin-inline: auto;
	}

	.content section {
		margin-bottom: 2rem;
	}

	.content h3 {
		font-size: var(--text-xl);
		color: var(--gray-0);
		margin-bottom: 1rem;
	}

	.content p {
		margin-bottom: 1rem;
		line-height: 1.7;
		color: var(--gray-200);
	}
</style>
